ul {
  padding-left: 0;
}
ul li {
  border: 2px;
  background-color: lightgray;
  margin: 1.1em;
  list-style-type: none;
  padding-bottom: 0.01em;
  padding-top: 0.01em;
  text-align: center;
  border-radius: 2%;
}
