ul li {
  position: relative;
  left: 16%;
  top: 20px;
  background-color: lightgray;
  border-radius: 2%;
  margin: 1.1em 0;
  list-style-type: none;
  float: left;
  padding: 2px 5px;
  border: 1px solid black;
  text-align: center;
  width: 68%;
}
